DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/apphost.exe
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.AssemblyInfo.cs
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.AssemblyInfoInputs.cache
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.assets.cache
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.csproj.BuildWithSkipAnalyzers
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.csproj.CoreCompileInputs.cache
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.csproj.FileListAbsolute.txt
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.dll
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.GeneratedMSBuildEditorConfig.editorconfig
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.genruntimeconfig.cache
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.GlobalUsings.g.cs
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/DelegatsEventsTask.pdb
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/ref/DelegatsEventsTask.dll
DelegatsEventsTask/DelegatsEventsTask/obj/Debug/net8.0/refint/DelegatsEventsTask.dll
DelegatsEventsTask/.vs/DelegatsEventsTask/v17/.suo
DelegatsEventsTask/.vs/DelegatsEventsTask/v17/DocumentLayout.backup.json
DelegatsEventsTask/.vs/DelegatsEventsTask/v17/DocumentLayout.json
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/bigimage.jpg
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/DelegatsEventsTask.deps.json
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/DelegatsEventsTask.dll
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/DelegatsEventsTask.exe
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/DelegatsEventsTask.pdb
DelegatsEventsTask/DelegatsEventsTask/bin/Debug/net8.0/DelegatsEventsTask.runtimeconfig.json
DelegatsEventsTask/DelegatsEventsTask/obj/DelegatsEventsTask.csproj.nuget.dgspec.json
DelegatsEventsTask/DelegatsEventsTask/obj/DelegatsEventsTask.csproj.nuget.g.props
DelegatsEventsTask/DelegatsEventsTask/obj/DelegatsEventsTask.csproj.nuget.g.targets
DelegatsEventsTask/DelegatsEventsTask/obj/project.assets.json
DelegatsEventsTask/DelegatsEventsTask/obj/project.nuget.cache
DelegatsEventsTask/.vs/DelegatsEventsTask/FileContentIndex/060834fa-219d-4537-9777-1da7194bb824.vsidx
DelegatsEventsTask/.vs/DelegatsEventsTask/FileContentIndex/304d10fc-7bc8-4e30-a789-3b03a1977c18.vsidx
DelegatsEventsTask/.vs/DelegatsEventsTask/FileContentIndex/32815015-626b-48df-9c6e-698be8ffe03e.vsidx
DelegatsEventsTask/.vs/DelegatsEventsTask/FileContentIndex/4af008fc-026d-4842-be26-4f4fd549678d.vsidx
